:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  background: black;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
#Navbar-border{
  height:75px;
  width:100%;
  padding:10px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input[type = text] {
  border: none;
  width: auto;
  font-size: medium;
  background:transparent;
  cursor:text;
  outline: none;
  color:white;
}
input[type = text]:hover {
  border: none;
  width: auto;
  font-size: medium;
  background:transparent;
  cursor:text;
  outline: none;
  color:white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px rgb(0, 0, 0) inset !important;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  border: none;
}
input:-webkit-autofill{
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
  outline: none;
  border:none;
}
::placeholder{
  color:white;
  opacity:0.8;
}

#search-border{
  border:2px;
  padding:10px;
  border-radius:5px;
  display: flex;
  align-self: center;
  width: auto;
}
#logo-border{
  height:100%;
  width:auto;
  background-size: contain;
  padding:5px;
}
#logo{
  height:100%;
}
#search-button{
  height:100%;
  width: auto;
  background: transparent;
  color: white;
  border: none;
  border-radius:5px;
  padding:5px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
@media only screen and (max-width: 600px) {
  #logo-border {
      padding:10px;
  }
  #Navbar-border{
      gap:20px;
      justify-content: space-between;
  }
}
#slide-data{
  position:absolute;
  top: 0%;
  left: 0%;
  height:100%;
  justify-content: space-between;
  min-width:100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  display: flex;
  flex-direction: column;
  gap:10px;
  padding:20px;
  align-items:self-start;
}
#slide-title{
  display: flex;
  justify-content: center;
  width: max-content;
  font-size:xx-large;
  padding:10px;
  color: rgb(255, 255, 255);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#slide-des{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:10px;
  color: white;
}
#slide-quality{
  background-color: rgb(255, 0, 0);
  height:35px;
  color:white;
  opacity:0.5;
  font-size: small;
  width:35px;
  border-radius:5px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
#slide-format{
  background-color: rgb(255, 255, 255);
  height:35px;
  opacity:0.5;
  font-size: small;
  border-radius:5px;
  color: black;
  width:35px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
#slide-spotlight{
  height:35px;
  margin:10px;
  padding:10px;
  width:max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  border-radius:5px;
  color:white;
  background-image: linear-gradient(rgba(0, 0, 0, 0),rgb(203, 27, 27));
}
#slide-release{
  position:absolute;
  right:0%;
  top: 0%;
  background-color: rgb(255, 255, 255);
  height:35px;
  opacity:0.5;
  border-radius:5px;
  color: black;
  margin:10px;
  width:auto;
  display:flex;
  align-items: center;
  font-size: small;
  padding:10px;

}
#quality-container{
  display: flex;
  gap:10px;
}
#spot-details{
  display: flex;
  flex-direction: column;
  gap:10px;
}
#spot-quality{
  display: flex;
  flex-direction: column;
  gap:10px;
}
#libraury-border{
  height:auto;
  width:auto;
  background:black;
  font-family: Arial, Helvetica, sans-serif;
}
#libraury-title{
  height: auto;
  width:100%;
  display: flex;
  justify-content: space-between;
}
#lib-child{
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}
#container{
  overflow: auto;
  scrollbar-width: none;
  white-space: nowrap;
  gap:20px;
}
#card{
  display: inline-block;
  width:200px;
  border-radius:10px;
  height:300px;
  position: relative;
  margin:10px;
}
#card-image{
  height:100%;
  width:100%;
  border-radius:10px;
  background-size: cover;
  background-repeat: no-repeat;
}
#card-title{
  position:absolute;
  border-radius:10px;
  height:100%;
  width:100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  top: 0%;
  left: 0%;
  color: white;
}
#card-rank{
  position: absolute;
  top: 0%;
  left: 0%;
  background-image: linear-gradient(to right, purple , red);
  color:white;
  margin:10px;
  padding:10px;
  height:35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius:10px;
}
#card-duration{
  position: absolute;
  top:0%;
  left:0%;
  background:rgb(66, 66, 66);
  margin:5px;
  padding:5px;
  border-radius:5px;
  font-size: small;
  width: max-content;
  color:white;
}
#trend-title{
  position: absolute;
  padding:10px;
  font-family: Arial, Helvetica, sans-serif;
  bottom:0%;
  display: flex;
  justify-content: center;
  white-space: pre-line;
}
#helo{
  height:75px;
  width:auto;
  color:white;
  background:black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:large;
}
#card-pg{
  background:red;
  color:white;
  padding:10px;
  height:35px;
  display:flex;
  justify-content: center;
  align-items: center;
  width:min-content;
  border-bottom-left-radius:10px;
  font-size:small;
  margin:10px;
  position: absolute;
  top: 0%;
  right:0%;
}
#search-result-control{
  background:black;
  max-width:100%;
  padding: 0%;
  margin: 0%;
}
#search-result{
  display:flex;
  justify-content: center;
  align-items: center;
}
#search-col{
  padding: 0%;
  max-width:max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
#youtube-player{
  overflow: hidden;
  pointer-events: none;
  height: auto;
  margin:25px;
  display: flex;
  flex-direction: row;
  scale:500px;
}
#detail-border{
  height: auto;
  width:100%;
  background:black;
}
#black-filter{
  height:550px;
  width:100%;
  position: absolute;
  background-image:linear-gradient(to right, black,rgba(255, 255, 255, 0));
}
#detail-player{
  height:600px;
  display: flex;
}
#animedetail-border{
  height:100%;
  width:600px;
  padding:25px;
  display: flex;
  flex-direction: column;
}

#detail-title h1{
  color: white;
  padding:10px;
  margin-top:100px;
  max-width:600px;
  border-radius:5px;
  font:bolder;
  font-family: Arial, Helvetica, sans-serif;
}
#detail-type h4{
  height:35px;
  width: max-content;
  border:2px solid white;
  color:white;
  padding:10px;
  display: flex;
  justify-content:center;
  font-size: small;
  align-items: center;
  border-radius:5px;
}
#detail-rating p{
  height:35px;
  width: max-content;
  border:2px solid red;
  color:white;
  padding:10px;
  display: flex;
  justify-content:center;
  align-items: center;
  border-radius:5px;
}
#detail-episodes p{
  height:35px;
  width: max-content;
  border:2px solid white;
  color:white;
  padding:10px;
  display: flex;
  justify-content:center;
  font-size: small;
  align-items: center;
  border-radius:5px;
}
#detail-duration p{
  height:35px;
  width: max-content;
  border:2px solid white;
  color:white;
  padding:10px;
  display: flex;
  justify-content:center;
  font-size: small;
  align-items: center;
  border-radius:5px;
}
#detail-desc p{
color:white;
display: flex;
justify-content:center;
font-size: small;
align-items: center;
margin:10px;
padding-left:20px;
padding-right:20px;
padding-bottom:20px;
}
#detail-detail{
  display: flex;
  flex-direction: row-reverse;
  gap:10px;
  justify-content: left;
  position: absolute;
  bottom:10%;
}
#episode-border{
  background-size: cover;
  background-repeat: no-repeat;
  width:150px;
  height:200px;
  border:2px solid;
}
#episode-filter{
  height: 100%;
  width:100%;
  background-image:radial-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  color:white;
  position: relative;
}
#ep-order{
  font-size:x-large;
  background:gray;
  color: white;
  height:35px;
  width:max-content;
  padding:10px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius:10px;
}
#ep-name{
  padding:10px;
  position: absolute;
  bottom: 0%;
}
#animeplayer-border{
  background:black;
  border:2px solid white;
  border-radius:10px;
  margin:10px;
}
#source-border{
  margin:10px;
}
#sources{
  background: aqua;
  position: absolute;
}
#libraury-title-main{
  display: flex;
  justify-content: center;
  align-items: center;
  width:max-content;
  color:white;
  height:35px;
  margin: 10px;
  padding:10px;
}
@media only screen and (max-width: 600px) {
  #slide-data{
  }
 #slide-title{
  border:none;
  font-size: small;
  position: absolute;
  bottom: 0%;
  left: 0%;
}
 #slide-des{
  display:none;
 }
 #slide-spotlight{
  display: none;
 }
 #slide-quality{
  font-size: x-small;
  height:20px;
 }
 #slide-format{
  font-size: x-small;
  height:20px;
 }
 #slide-release{
  font-size: x-small;
  height:20px;
 }
 #detail-player{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0%;
  padding: 0%;
 }
 #youtube-player{
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:-300px;
 }
 #black-filter{
  display: none;
 }
 #animedetail-border {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0%;
  width:100%;
  height:min-content;
  padding: 0%;
  background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.944), rgb(0, 0, 0))
 }
 #detail-title h1{
  margin: 0%;
  background:transparent;
 }
 #detail-rating p{
  font-size: x-small;
  margin: 0%;
  background:rgba(0, 0, 0, 0.448);
 }
 #detail-detail{
  position: relative;
  display: flex;
  justify-content: left;
 }
 #trailerImage-border{
  background:white;
  border:2px solid white;
  width:100%;
  position:relative;
  top:0%;
 }
 #trailerImage{
  width:100%;
 }
}
#button-border button{
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px;
  border-radius:5px;
  background:none;
  color:white;
  border:none;
}
#button-border button:hover{
  border:1px solid white;
}
#trailerImage-border{
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background:black;
  display: flex;
  justify-content: end;
}
#trailerImage{
  height:100%;
}